<div class="card shadow">
    <img [src]="myUser.image" class="card-img-top rounded-circle p-2" [alt]="myUser.first_name">
    <div class="card-body">
      <h5 class="card-title text-center">{{ myUser.first_name }} {{ myUser.last_name }}</h5>
    </div>
    <div class="d-flex justify-content-between m-2">
        <a class="btn btn-secondary d-flex align-items-center p-1" [routerLink]="['/user', myUser.id]"><i class="fa-solid fa-magnifying-glass me-1"> </i>Ver</a>
        <a class="btn btn-secondary d-flex align-items-center p-1" [routerLink]="['/updateuser', myUser.id]"><i class="fa-solid fa-arrows-rotate me-1"></i>Actualizar</a>
        <a class="btn btn-danger" (click)="deleteUser(myUser.id)"><i class="fa-regular fa-trash-can"></i></a>
    </div>
  </div>