<section class="container mt-4">
    <div class="card p-3 shadow">
        <div class="row">
            <figure class="col-12 col-md-4">
                <img class="img" [src]="myUser?.image" [alt]="myUser?.first_name">
            </figure>
            <div class="col-12 col-md-8 position-relative">
                <h2>{{ myUser?.first_name }} {{ myUser?.last_name }}</h2>
                <ul>
                    <li>Nombre de usuario: {{ myUser?.username }}</li>
                    <li>Email: {{ myUser?.email }}</li>
                </ul>
                <div class="d-flex justify-content-start">
                    <button class="btn btn-secondary d-flex align-items-center" [routerLink]="['/updateuser', myUser?.id]"><i class="fa-solid fa-arrows-rotate me-1"></i>Actualizar</button>
                    <button class="btn btn-danger ms-2" (click)="deleteUser(myUser?.id)"><i class="fa-regular fa-trash-can"></i></button>
                </div>
                <div class="position-absolute bottom-0 end-0">
                    <button class="btn btn-secondary me-3" [routerLink]="['/home']">Volver al listado</button>
                </div>
            </div>
        </div>
    </div>
</section>
